html
    head
        meta(charset='utf-8')
        title Oauth project
        link(rel='stylesheet', href='/public/style.css')
    body
        nav
            ul
                li 
                    a(href='/auth/logout') Logout
                li 
                    a(href='/auth/login') Login
                li 
                    a(href='/') Homepage
                li
                     a(href='/register') Register

        header 
            h1 Home Page
        main
            p Best OAuth app 
        if alreadyExists 
            hr
            p User already Exists
            