html
    head
        meta(charset='utf-8')
        title My profile
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        

        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js')
        audio#xyz(src ='/public/sound.mp3' , preload = 'auto')
        link(rel='stylesheet', href='/public/style.css')
        body
            nav
                ul
                    li 
                        a(href='/logout') Logout    
                    li 
                        a(href='/logged-in') Homepage
            header Welcome to your profile,
                strong#username #{username}
            div#Le-chat
                div#typing
                div#chat-window
                    div#output 
                input#message(type='text' , placeholder="Message")
                button#send Send
            script(src='/public/chat.js')
            
            
