html
    head
        meta(charset='utf-8')
        title Oauth project
        link(rel='stylesheet', href='/public/style.css')
    body
        nav
            ul
                li 
                    a(href='/auth/login') Login
                li 
                    a(href='/') Homepage
        hr
        p Register Form
        form(action='/register/auth', method='post')
            div
                label Username:
                input#reg(type='text', name='username')
            div
                label Password:
                input#reg(type='password', name='password')
            div
                input#login(type='submit', value='Register')